@{
    if (((Entity.SessionLoginEntity)Session["PropertiesEntity"]) == null)
    {
        return;
    }

    var UserLogin = Session["PropertiesEntity"] as Entity.SessionLoginEntity;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="@Url.Content("~/Img/icono.ico")" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>- Portal tejar -</title>
    <!-- Icons-->
    <link href="~/lib/coreui/icons/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link href="~/js/Loading.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Scripts JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/carrito.js" defer></script>

    @* ***** NOTIFICACIONES ***** *@

    <style>
        .nav-icon icon-sol_compra {
            background-image: url('../../Img/solicitud_compra.png');
        }

        body {
        }

        .nav-dropdown-items .nav-item a {
            padding-left: 20px;
        }
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar fixed-top">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="~/Img/eltejarlogo.png" width="140" height="25" alt="El Tejar">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            @*AQUI PONER EL BOTON DE BUSCAR*@
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="notificacionesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-bell"></i>
                    <span class="badge badge-pill badge-danger" id="contadorNotificaciones">0</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificacionesDropdown" id="listaNotificaciones">
                    <p class="dropdown-item text-muted">Sin notificaciones</p>
                </div>
                <script>
                    $(function () {
                        var notificacionesHub = $.connection.notificacionesHub;
                        // Solicitar permiso para notificaciones push
                        if (Notification.permission !== "granted") {
                            Notification.requestPermission();
                        }

                        let contador = 0;
                        notificacionesHub.client.recibirNotificacion = function (data) {
                            contador++;
                            // Mostrar notificación push del navegador
                            if (Notification.permission === "granted") {
                                new Notification(data.titulo, {
                                    body: data.mensaje,
                                    icon: "/Img/tejar-ico.png" // Cambia por tu ícono real
                                });
                            }

                            // Actualizar contador visible
                            $('#contadorNotificaciones').text(contador);

                            // Si estaba el mensaje de "Sin notificaciones" lo removemos
                            if ($('#listaNotificaciones p.text-muted').length) {
                                $('#listaNotificaciones').empty();
                            }

                            let nuevaNotificacion = $('<a>')
                                .addClass('dropdown-item')
                                .attr('href', '#')
                                .text(mensaje);

                            $('#listaNotificaciones').prepend(nuevaNotificacion);
                        };

                        $.connection.hub.start().done(function () {
                            console.log("Conectado a SignalR");
                        });
                    });

                </script>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ListadoCarrito","MiCarrito")">
                    <i class="bi bi-cart"></i>
                    <span id="cartBadge" class="badge badge-pill badge-danger">0</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" src="~/ImgUp/@UserLogin.UrlPic.ToString()" alt="@UserLogin.UserName.ToString()">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>@UserLogin.UserName.ToString()</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i> Perfil
                    </a>
                    <a class="dropdown-item" href="@Url.Action("LongOff", "CerrarSesion")">
                        <i class="fa fa-lock"></i> Salir
                    </a>
                </div>
            </li>
        </ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav" style="font-size:12px;">
                <ul class="nav">
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-coins"></i> Mis resultados
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@{
                                    if (@UserLogin.Nivel == 2)
                                    {
                                        @Url.Action("DashboardGerenteVentas","DashboardGerenteVentas")
                                    } else
                                    {
                                        @Url.Action("Index","Dashboard")
                                    }
                                }">
                                    <i class="nav-icon icon-speedometer"></i> Tablero
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ComisionLiga", "BilleteraComisionLiga")">
                                    <i class="nav-icon fas fa-wallet"></i> Mi Billetera
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "RankingV2")">
                                    <i class="nav-icon fas fa-trophy"></i> Ranking
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-shopping-cart"></i> Ventas
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Cotizacion", "CotizacionVentas")">
                                    <i class="nav-icon fas fa-plus-circle"></i> Nueva venta
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Autorizacion", "CotizacionVentasAutoriza")">
                                    <i class="nav-icon fas fa-check-circle"></i> Autorizaciones
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("VentasEmpresa", "VentasEmpresa")">
                                    <i class="nav-icon fas fa-check-circle"></i> Ventas país
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ReporteGerencia", "VentasEmpresa")">
                                    <i class="nav-icon fas fa-check-circle"></i>ReporteGerencia
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Asistencia")">
                                    <i class="nav-icon fas fa-check-circle"></i>Asistencia
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "CrmVentas")">
                                    <i class="nav-icon fas fa-check-circle"></i> Mis ventas
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-chart-line"></i> Prospección
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "ProspAgenda")">
                                    <i class="nav-icon fas fa-calendar-alt"></i> Planificación
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "ProspListadoObras")">
                                    <i class="nav-icon fas fa-hard-hat"></i> Mis obras
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-users"></i> Crm
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Listado", "BolsonActivo")">
                                    <i class="nav-icon fas fa-file-invoice-dollar"></i> Bolson activo
                                </a>
                            </li>

                            @if (UserLogin.SlpCode > 0)
                            {

                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("BolsonAsesor", "EstadoBolson")">
                                        <i class="nav-icon fas fa-file-invoice-dollar"></i> Estado de bolson
                                    </a>
                                </li>
 }
                            else
                            { @*<li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Bolson", "EstadoBolson")">
                                            <i class="nav-icon fas fa-file-invoice-dollar"></i> Estado de bolson
                                        </a>
                                    </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "EstadoBolsonV3")">
                                    <i class="nav-icon fas fa-file-invoice-dollar"></i> Estado de bolsón
                                </a>
                            </li>
                            @*if (UserLogin.UserId != 1)
                                {
                                    <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Detalle", "EstadoBolsonV2")">
                                                <i class="nav-icon fas fa-file-invoice-dollar"></i> Estado de bolsón
                                            </a>
                                    </li>
                                }
                                if (UserLogin.UserId == 1)
                                {
                                     <li class="nav-item">
                                             <a class="nav-link" href="@Url.Action("Index", "EstadoBolsonV3")">
                                                 <i class="nav-icon fas fa-file-invoice-dollar"></i> Estado de bolsón
                                             </a>
                                     </li>
                                }*@

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Seguimientos", "ResumenSeguimientos")">
                                    <i class="nav-icon fas fa-file-invoice-dollar"></i> Resumen seguimiento
                                </a>
                            </li>
}

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "BolsonPerdidas")">
                                    <i class="nav-icon fas fa-file-invoice-dollar"></i> Bolson perdidas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "BolsonClientes")">
                                    <i class="nav-icon fas fa-file-invoice-dollar"></i> Bolson de clientes
                                </a>
                            </li>
                        </ul>
                    </li>

                    @if (UserLogin.SuperUser == "Y" || UserLogin.UserCode == "manager" || UserLogin.UserCode == "tmerca" || UserLogin.Nivel == 1)
                    {
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="nav-icon fas fa-handshake"></i> Comercial
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "ComercialTransacciones")">
                                        <i class="nav-icon fas fa-list-alt"></i> Transacciones
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }


                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-calculator"></i> Finanzas
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Presupuesto")">
                                    <i class="nav-icon fas fa-file-signature"></i> Presupuesto
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-truck-loading"></i> Compras
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Nuevo", "OrdenDeCompra")">
                                    <i class="nav-icon fas fa-file-signature"></i> Orden de compra
                                </a>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("SolicitudCompra", "SAPOc")">
                                        <i class="nav-icon fas fa-file-signature"></i> Solicitud de compra
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("AutorizarSolicitudes", "SAPAutorizar")">
                                        <i class="nav-icon fas fa-thumbs-up"></i> Autorizar solicitud
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Recepcion", "Delivery")">
                                        <i class="nav-icon fas fa-box-open"></i> Recepción
                                    </a>
                                </li>*@
                        </ul>
                    </li>


                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-id-badge"></i> Recursos Humanos
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "GestionDePersonal")">
                                    <i class="nav-icon fas fa-users-gear"></i> Gestion de personal
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "RRHH")">
                                    <i class="nav-icon fas fa-clock"></i> Reporte Marcaje
                                </a>
                            </li>
                        </ul>
                        @if (UserLogin.CodeEmpleado == 178 || UserLogin.CodeEmpleado == 0)
                        {
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("DetalleVacaciones", "RRHH")">
                                        <i class="nav-icon fas fa-calendar-check"></i> Vacaciones
                                    </a>
                                </li>

                            </ul>}
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Permisos", "RRHH")">
                                    <i class="nav-icon fas fa-file-signature"></i> Permisos
                                </a>
                            </li>
                        </ul>
                    </li>

                    @if (UserLogin.Nivel == 2 || UserLogin.Nivel == 1 || UserLogin.UserCode == "supbodega" || UserLogin.UserCode == "supbodega2")
                    {
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="nav-icon fas fa-truck"></i> Operaciones
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "FormularioChecklist")">
                                        <i class="nav-icon fas fa-clipboard-check"></i> Check list
                                    </a>
                                </li>
                            </ul>
                        </li>
}



                    @if (UserLogin.SuperUser == "Y" || UserLogin.UserCode == "manager" || UserLogin.Depto == 6 || UserLogin.UserCode == "toperac1")
                    {
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon fas fa-truck"></i> Operaciones
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Cd", "VentasCd")">
                                <i class="nav-icon fas fa-shopping-cart"></i> Ventas CD
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-dropdown-items">
                        <!-- Submenú Reportes -->
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="nav-icon fas fa-file-alt"></i> Reportes
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("ReporteDañado", "ReporteDañado")">
                                        <i class="nav-icon fas fa-clipboard-check"></i> Producto Dañado
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "ReporteEstadoCuentaImportacion")" title="Estado de cuanta importación">
                                        <i class="nav-icon fas fa-file-invoice-dollar"></i> Estado Cuenta Imp.
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "ReporteEstadoCuentaServiciosAdicionales")" title="Estado de cuenta servicios adicionales">
                                        <i class="nav-icon fas fa-file-invoice"></i> Estado Cuenta Serv. Ad.
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "ReporteEstadoCuentaGastos")">
                                        <i class="nav-icon fas fa-file-invoice"></i> Estado Cuenta Gastos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "ReporteEstadoCuentaLocal")">
                                        <i class="nav-icon fas fa-file-invoice"></i> Estado Cuenta Local
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "ReporteInterTiendas")">
                                        <i class="nav-icon fas fa-exchange-alt"></i> Reporte Inter Tiendas
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "FormularioChecklist")">
                                <i class="nav-icon fas fa-clipboard-check"></i> Check list
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ReporteBodegas", "ReporteBodegas")">
                                <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard Calificación
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "FlujoCD")">
                                <i class="nav-icon fas fa-tachometer-alt"></i> Flujo de entradas y salidas
                            </a>
                        </li>
                    </ul>
                </li>
}

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-cogs"></i> Sistemas
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "KPISIt")">
                                    <i class="nav-icon fas fa-chart-line"></i> Rendimiento Equipo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "GantProyectosIT")">
                                    <i class="nav-icon fas fa-project-diagram"></i> Gantt Proyectos
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-cogs"></i> Configuración
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Perfil", "Profile")" target="_top">
                                    <i class="nav-icon fas fa-user-cog"></i> Perfil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="register.html" target="_top">
                                    <i class="nav-icon fas fa-info-circle"></i> Acerca de
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <div id="globalLoading" class="loading-overlay">
                @*<img src="~/Img/tejar-ico.png" alt="Loading..." class="loading-image">*@
                <img src="~/img/loading_circulo.gif" alt="loading..." class="loading-image">
                @*<div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>*@
            </div>
            @RenderBody()
            <script>
                $(document).ready(function () {
                    $("#globalLoading").fadeOut("slow");
                });

                $(document).ajaxStart(function () {
                    $("#globalLoading").fadeIn("fast");
                }).ajaxStop(function () {
                    $("#globalLoading").fadeOut("slow");
                });
            </script>
        </main>
    </div>
    <footer class="app-footer fixed-bottom p-xl-2">
        <div>
            <span>&copy; 2025 Desarrollo ElTejar Versión 1.29</span>
        </div>
    </footer>
    <!-- Bootstrap and necessary plugins-->
    <!-- Librerías básicas y necesarias -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script> <!-- jQuery debe cargarse primero, ya que otras librerías pueden depender de él -->
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script> <!-- Popper.js es necesario para el correcto funcionamiento de Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <!-- Complementos y mejoras para la UI -->
    <script src="~/lib/pace-progress/pace.min.js"></script> <!-- Progreso visual de carga -->
    <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script> <!-- Barra de desplazamiento personalizada -->
    <script src="~/lib/coreui/coreui/dist/js/coreui.min.js"></script> <!-- Framework CoreUI -->
    <!-- Plugins específicos de la vista -->
    <script src="~/lib/chart.js/dist/Chart.min.js"></script> <!-- Gráficos -->
    <script src="~/lib/coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script> <!-- Tooltips personalizados para gráficos -->
    <!-- Scripts personalizados -->
    <script src="~/js/main.js"></script> <!-- Archivo principal para scripts de la aplicación -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert2 para notificaciones -->

    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>