@{
    if (((Entity.SessionLoginEntity)Session["PropertiesEntity"]) == null)
    {
        return;
    }
    
    var UserLogin = Session["PropertiesEntity"] as Entity.SessionLoginEntity;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="@Url.Content("~/Img/icono.ico")" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>- Portal tejar -</title>
    <!-- Icons-->
    <link href="~/lib/coreui/icons/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link href="~/js/Loading.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Scripts JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/carrito.js" defer></script>
    <style>
        .nav-icon icon-sol_compra {
            background-image: url('../../Img/solicitud_compra.png');
        }

        body {
        }

        .nav-dropdown-items .nav-item a {
            padding-left: 30px;
        }


    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar fixed-top">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="~/Img/eltejarlogo.png" width="140" height="25" alt="El Tejar">            
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            @*AQUI PONER EL BOTON DE BUSCAR*@
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="icon-bell"></i>
                    <span class="badge badge-pill badge-danger">0</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ListadoCarrito","MiCarrito")">
                    <i class="bi bi-cart"></i>
                    <span id="cartBadge" class="badge badge-pill badge-danger">0</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" src="~/ImgUp/@UserLogin.UrlPic.ToString()" alt="@UserLogin.UserName.ToString()">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>@UserLogin.UserName.ToString()</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i> Perfil
                    </a>
                    <a class="dropdown-item" href="@Url.Action("LongOff", "CerrarSesion")">
                        <i class="fa fa-lock"></i> Salir
                    </a>
                </div>
            </li>
        </ul>

    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@{
                            if (@UserLogin.Nivel == 2)
                            {
                                @Url.Action("DashboardGerenteVentas","DashboardGerenteVentas")
                            } else
                            {
                                @Url.Action("Index","Dashboard")
                            }
                        }">
                            <i class="nav-icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-coins"></i> Finanzas
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ComisionLiga", "BilleteraComisionLiga")">
                                    <i class="nav-icon fas fa-wallet"></i> Mi Billetera
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "RankingV2")">
                                    <i class="nav-icon fas fa-trophy"></i> Ranking
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Margen", "Margen")">
                                    <i class="nav-icon fas fa-chart-line"></i> Margen
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-shopping-cart"></i> Ventas
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Cotizacion", "CotizacionVentas")">
                                    <i class="nav-icon fas fa-plus-circle"></i> Nueva venta
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Listado", "Ventas")">
                                    <i class="nav-icon fas fa-file-invoice-dollar"></i> Cotizaciones
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("List", "Especialista")">
                                    <i class="nav-icon fas fa-user-tie"></i> Especialista
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Autorizacion", "CotizacionVentasAutoriza")">
                                    <i class="nav-icon fas fa-check-circle"></i> Autorizaciones
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("VentasEmpresa", "VentasEmpresa")">
                                    <i class="nav-icon fas fa-check-circle"></i> Ventas empresa
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-users"></i> Clientes/Crm
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Crm", "KpiCrm")">
                                    <i class="nav-icon fas fa-address-book"></i> Crm
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-truck-loading"></i> Compras
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("SolicitudCompra", "SAPOc")">
                                    <i class="nav-icon fas fa-file-signature"></i> Solicitud de compra
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AutorizarSolicitudes", "SAPAutorizar")">
                                    <i class="nav-icon fas fa-thumbs-up"></i> Autorizar solicitud
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Recepcion", "Delivery")">
                                    <i class="nav-icon fas fa-box-open"></i> Recepción
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-cogs"></i> Configuración
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Perfil", "Profile")" target="_top">
                                    <i class="nav-icon fas fa-user-cog"></i> Perfil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="register.html" target="_top">
                                    <i class="nav-icon fas fa-info-circle"></i> Acerca de
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>        
        <main class="main">
            <div id="globalLoading" class="loading-overlay">
                @*<img src="~/Img/tejar-ico.png" alt="Loading..." class="loading-image">*@
                <img src="~/img/loading_circulo.gif" alt="loading..." class="loading-image">
                @*<div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>*@
            </div>            
            @RenderBody()

            <script>
                $(document).ready(function () {
                    $("#globalLoading").fadeOut("slow");
                });

                $(document).ajaxStart(function () {
                    $("#globalLoading").fadeIn("fast");
                }).ajaxStop(function () {
                    $("#globalLoading").fadeOut("slow");
                });
            </script>
        </main>
    </div>
    <footer class="app-footer fixed-bottom p-xl-2">
        <div>
            <span>&copy; 2025 Desarrollo ElTejar Versión 1.5</span>
        </div>
    </footer>
    <!-- Bootstrap and necessary plugins-->
    <!-- Librerías básicas y necesarias -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script> <!-- jQuery debe cargarse primero, ya que otras librerías pueden depender de él -->
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script> <!-- Popper.js es necesario para el correcto funcionamiento de Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <!-- Complementos y mejoras para la UI -->
    <script src="~/lib/pace-progress/pace.min.js"></script> <!-- Progreso visual de carga -->
    <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script> <!-- Barra de desplazamiento personalizada -->
    <script src="~/lib/coreui/coreui/dist/js/coreui.min.js"></script> <!-- Framework CoreUI -->
    <!-- Plugins específicos de la vista -->
    <script src="~/lib/chart.js/dist/Chart.min.js"></script> <!-- Gráficos -->
    <script src="~/lib/coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script> <!-- Tooltips personalizados para gráficos -->
    <!-- Scripts personalizados -->
    <script src="~/js/main.js"></script> <!-- Archivo principal para scripts de la aplicación -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert2 para notificaciones -->

</body>
</html>