@model Entity.DashboardAsesoresEntity
<head>
    <title>- Dashboard El Tejar -</title>
    <style>
        body{
            background-color:white;
        }
    </style>
</head>

<!-- Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Inicio</li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="card shadow" style="border-radius:10px; border-top-left-radius:10px; border-top-right-radius:10px">
                    <div class="card-header" style="background-color: #FAD803; border-top-left-radius: 10px; border-top-right-radius: 10px">
                        <strong>Por día</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6" style="padding: 10px;">
                                <div class="card">
                                    <div class="card-header">
                                        Venta
                                    </div>
                                    <div class="card-body">
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Meta</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Meta</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("Q.{0:#,##0.00}", @Model.MetaHoy)" />
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Venta</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Real alcanzado</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("Q.{0:#,##0.00}", @Model.VentasHoy)">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Venta Proyectada</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px ">Proyectado</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("Q.{0:#,##0.00}", @Model.ProyectadoHoy)">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Indice Proyectado</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px ">% sobre alcance</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("{0:#,##0.00}", @Model.IndiceVentaHoy)%">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup"></label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px "></div>
                                                </div>Q
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="" style="background-color:white" readonly onmousedown="return false;" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6" style="padding: 10px;">
                                <div class="card">
                                    <div class="card-header">
                                        Utilidad
                                    </div>
                                    <div class="card-body">
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Meta</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Meta de Utilidad</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("Q.{0:#,##0.00}", @Model.MetaUtilidad)" />
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Venta</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Utilidad Generada</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("Q.{0:#,##0.00}", @Model.UtilidadHoy)">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Proyectado</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Proyectado</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("Q.{0:#,##0.00}", @Model.ProyectadoUtilidad)">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">% sobre alcance</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px ">% sobre alcance</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("{0:#,##0.00}", @Model.ProyectadoUtilidad)%">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Margen a la fecha %</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px ">Margen a la fecha %</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="0.00%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card shadow" style="border-radius:10px; border-top-left-radius:10px; border-top-right-radius:10px">
                    <div class="card-header" style="background-color: #FAD803; border-top-left-radius: 10px; border-top-right-radius: 10px">
                        <strong>Mensual</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6" style="padding: 10px;">
                                <div class="card">
                                    <div class="card-header">
                                        Venta
                                    </div>
                                    <div class="card-body">
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Meta</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Meta</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("Q.{0:#,##0.00}", @Model.MetaVentaMes)" />
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Venta</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Real alcanzado</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("Q.{0:#,##0.00}", @Model.VentaMes)">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Venta Proyectada</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px ">Proyectado</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="0.00">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Indice Proyectado</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px ">% sobre alcance</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="@string.Format("{0:#,##0.00}", @Model.IndiceVentaMes)%">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Indice Proyectado</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px "></div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="" style="background-color:white" readonly onmousedown="return false;" value="0.00">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6" style="padding: 10px;">
                                <div class="card">
                                    <div class="card-header">
                                        Utilidad
                                    </div>
                                    <div class="card-body">
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Meta</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Meta de Utilidad</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="0.00" />
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Venta</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Utilidad Generada</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="0.00">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Indice</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #FAD803; width:150px">Proyectado</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="0.00%">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Venta Proyectada</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px ">% sobre alcance</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="0.00">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="sr-only" for="inlineFormInputGroup">Indice Proyectado</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" style="background-color: #e59866; width: 150px ">Margen a la fecha %</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0.00" style="background-color:white" readonly onmousedown="return false;" value="0.00%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

@*<script type="text/javascript">
        $(function () {
            var ctx = document.getElementById("myPieChart").getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: @Html.Raw(Json.Encode(Model.PieChartData)),
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Ventas sobre meta'
                    }
                }
            });
        });
    </script>*@