@model List<Entity.RecepcionProductosEntity>
<style>
    body {
        background-color:white;
    }    

/* ===== Career ===== */
    .career-form {
      background-color: #4e63d7;
      border-radius: 5px;
      padding: 0 16px;
    }

    .career-form .form-control {
      background-color: rgba(255, 255, 255, 0.2);
      border: 0;
      padding: 12px 15px;
      color: #fff;
    }

    .career-form .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
    }

    .career-form .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }

    .career-form .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
    }

    .career-form .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }

    .career-form .custom-select {
      background-color: rgba(255, 255, 255, 0.2);
      border: 0;
      padding: 12px 15px;
      color: #fff;
      width: 100%;
      border-radius: 5px;
      text-align: left;
      height: auto;
      background-image: none;
    }

    .career-form .custom-select:focus {
      -webkit-box-shadow: none;
              box-shadow: none;
    }

    .career-form .select-container {
      position: relative;
    }

    .career-form .select-container:before {
      position: absolute;
      right: 15px;
      top: calc(50% - 14px);
      font-size: 18px;
      color: #ffffff;
      content: '\F2F9';
      font-family: "Material-Design-Iconic-Font";
    }

    .filter-result .job-box {
    background:#fff;
      -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
              box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
      border-radius: 10px;
      padding: 10px 35px;
    }

    ul {
      list-style: none;
    }

    .list-disk li {
      list-style: none;
      margin-bottom: 12px;
    }

    .list-disk li:last-child {
      margin-bottom: 0;
    }

    .job-box .img-holder {
      height: 65px;
      width: 65px;
      background-color: #4e63d7;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
      background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 65px;
    }

    .career-title {
      background-color: #4e63d7;
      color: #fff;
      padding: 15px;
      text-align: center;
      border-radius: 10px 10px 0 0;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
      background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
    }

    .job-overview {
      -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
              box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
      border-radius: 10px;
    }

    @*@media (min-width: 992px) {
      .job-overview {
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
      }
    }*@

    .job-overview .job-detail ul {
      margin-bottom: 28px;
    }

    .job-overview .job-detail ul li {
      opacity: 0.75;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .job-overview .job-detail ul li i {
      font-size: 20px;
      position: relative;
      top: 1px;
    }

    .job-overview .overview-bottom,
    .job-overview .overview-top {
      padding: 35px;
    }

    .job-content ul li {
      font-weight: 600;
      opacity: 0.75;
      border-bottom: 1px solid #ccc;
      padding: 10px 5px;
    }

    @*@media (min-width: 768px) {
      .job-content ul li {
        border-bottom: 0;
        padding: 0;
      }
    }*@

    .job-content ul li i {
      font-size: 20px;
      position: relative;
      top: 1px;
    }

    .mb-30 {
        margin-bottom: 30px;
    }
        .zmdi-moneys {
            display: inline-block;
            width: 16px; /* Ajusta el ancho del icono */
            height: 16px; /* Ajusta el alto del icono */
            background-image: url('../../Img/quetzal_simbolo.png');
            background-size: cover;
        }
        .icon_image_date {
            display: inline-block;
            width: 16px; /* Ajusta el ancho del icono */
            height: 16px; /* Ajusta el alto del icono */
            background-image: url('../../Img/calendar.png');
            background-size: cover;
        }

        .modal-full {
            width: 60%; /* Ocupa el 100% del ancho de la ventana */
            max-width: none; /* Evita que Bootstrap aplique un límite en el ancho */
        }

        .modal-header{
            flex-shrink:0;
        }

        .modal-content {
            max-height: 90vh; /* Hasta el 90% del alto de la ventana */
            overflow-y: auto; /* Añadir scroll si el contenido excede el alto disponible */
        }

        .modal-body{
            overflow-y:auto;
            flex-grow:1;
        }
        .iconoBlanco{
            filter: brightness(0) invert(1); /* Convierte la imagen a blanco */
        }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<div class="container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                @*<p class="mb-30 ff-montserrat">No data</p>*@
                <form action="#" class="career-form mb-60">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="input-group position-relative">
                                <input type="text" class="form-control" placeholder="Escribe un proveedor" id="keywords">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="select-container">
                                <select class="custom-select">
                                    <option value="-1" selected="">Estado</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="input-container">
                                <input type="date" id="txtFecha" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <button type="button" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit">
                                Buscar
                            </button>
                        </div>
                    </div>
                </form>

                <div class="filter-result">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="job-box d-md-flex align-items-center justify-content-between mb-30" style="margin-top:15px">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                    <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex" style="">
                                        @item.DocNumOc
                                    </div>
                                    <div class="job-content">
                                        <h5 class="text-center text-md-left">@item.CardName</h5>
                                        <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                            <li class="mr-md-4" title="Fecha Orden de compra">
                                                <i class="zmdi icon_image_date mr-2"></i> @item.DocDateOc.ToShortDateString()
                                            </li>
                                            <li class="mr-md-4" title="Total de orden de compra">
                                                <i class="zmdi zmdi-moneys mr-2"></i> @string.Format("{0:#,##0.00}", @item.DocTotal)
                                            </li>
                                            <li class="mr-md-4" title="Fecha promesa del proveedor">
                                                <i class="zmdi zmdi-time mr-2"></i> @item.DocDateReq.ToShortDateString()
                                            </li>
                                        </ul>
                                        <h5 class="text-center text-md-left" style="font-size:12px">@item.Comments</h5>
                                    </div>
                                </div>
                                <div class="job-right my-4 flex-shrink-0">
                                    <button class="btn btn-success" onclick="cargarModal(@item.DocNumOc)" style="width:100px;"><img class="iconoBlanco" src="~/Img/Ojo.png" height="25" width="25" /></button>
                                    @*<a href="#" class="btn btn-success"  >Recepción</a>*@
                                </div>
                            </div>
                        }
                        if (Model.Count == 0)
                        {
                            <div style="border:1px solid; border-end-end-radius:5px; border-color:#ccc5c5; height:200px; display:flex; justify-content:center; align-items:center;font-style:italic">
                                <a>No hay datos</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div style="border:1px solid; border-end-end-radius:5px; border-color:#ccc5c5; height:200px; display:flex; justify-content:center; align-items:center;font-style:italic">
                            <a>No hay datos</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="detalleModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header" role="document">
                <h5 class="modal-title" id="exampleModalLabel">Orden de compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function cargarModal(_docNum) {
        $("#globalLoading").show();
        $.ajax({
            url: '@Url.Action("DetalleModal", "Delivery")', // Cambia por la ruta de tu vista
            type: 'GET',
            data: { DocNum: _docNum },
            success: function (data) {
                $("#globalLoading").hide();
                // Llenar el contenido del modal con la vista parcial
                $('#modal-content').html(data);
                // Mostrar el modal
                $('#detalleModal').modal('show');
            },
            error: function () {
                $("#globalLoading").hide();
                alert('Hubo un error al cargar el contenido.');
            }
        });
    }
</script>