@using Entity;
@model IEnumerable<DatosEmpleados>
@{
    ViewData["Title"] = "Gestión de Personal";
}

<head>
    <style>
        .text-secondary-perfil {
            color: dimgray;
        }

        .hidden-input {
            display: none !important;
        }

        .buttonMarcado {
            background-color: #6C757D;
            color: white;
        }

        .timeline {
            position: relative;
            margin: 20px 0;
            padding-left: 30px;
            border-left: 3px solid #dee2e6;
        }

        .timeline-item {
            position: relative;
            margin-bottom: 20px;
        }

        .timeline-icon {
            position: absolute;
            left: -16px;
            top: 0;
            background-color: #fff;
            color: #6c757d;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #dee2e6;
        }

        .timeline-item.completed .timeline-icon {
            background-color: #198754;
            color: #fff;
            border-color: #198754;
        }

        .timeline-item.active .timeline-icon {
            background-color: #ffc107;
            color: #212529;
            border-color: #ffc107;
        }

        .timeline-content {
            margin-left: 20px;
            color: #212529;
        }

        .timeline-item.completed .timeline-content {
            color: #198754;
        }

        .timeline-item.active .timeline-content {
            color: #ffc107;
            font-weight: bold;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<div class="container mt-4">
    <div class="card shadow-sm border-0">
        <div class="card-header text-white d-flex justify-content-between align-items-center"
             style="background-color: steelblue;">
            <h5 class="mb-0">
                <i class="bi bi-people-fill me-2"></i>Gestión de Personal
            </h5>
            <button class="btn btn-light btn-sm" id="btnNuevaPlaza" data-bs-toggle="modal" data-bs-target="#modalNuevaPlaza">
                <i class="bi bi-person-plus-fill me-1"></i> Nueva Plaza
            </button>
        </div>

        <div class="card-body bg-light">
            <table class="table table-striped align-middle text-center" ;">
                @if (ViewData["Error"] != null)
                {
                    <div class="alert alert-danger d-flex align-items-center" role="alert" id="divError" style="display:none;">
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>
                        <span id="msgError">@ViewData["Error"]</span>
                    </div>
                }
                <thead class="table-primary" style="background-color: steelblue">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombres</th>
                        <th>Puesto</th>
                        <th>Creado SAP</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var empleados in Model)
                        {
                            <tr>
                                <td>@empleados.EmpID</td>
                                <td style="text-align:start">@empleados.Nombre</td>
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        @empleados.Puesto
                                        <button id="btnPerfil-@(empleados.EmpID)"
                                                class="btn btn-sm @(empleados.Perfil ? "btn-outline-success" : "btn-outline-danger")"
                                                data-bs-toggle="tooltip"
                                                title="@(empleados.Perfil ? "Ver perfil" : "Agregar perfil")"
                                                onclick="abrirModalPerfilPuesto('@empleados.Puesto',@empleados.PuestoId, @empleados.Perfil.ToString().ToLower(),'btnPerfil-@(empleados.EmpID)')">

                                            <i id="ibtnPerfil-@(empleados.EmpID)" class="bi bi-file-earmark-text @(empleados.Perfil ? "text-success" : "text-danger")"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>@empleados.CreadoSAP.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <i class="fas fa-check-circle @(empleados.Activo == "Y" ? "text-success" : "d-none")"></i>
                                    <i class="fas fa-times-circle @(empleados.Activo == "N" ? "text-danger" : "d-none")"></i>
                                    <i class="fas fa-minus-circle @(empleados.Activo == "-" ? "text-warning" : "d-none")"></i>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary"
                                            onclick="verPerfil(this)"
                                            data-nombre="@empleados.Nombre"
                                            data-id="@empleados.EmpID"
                                            data-puesto="@empleados.Puesto"
                                            data-departamento="@empleados.Departamento"
                                            data-activo="@empleados.Activo"
                                            data-telefono="@empleados.Telefono"
                                            data-correo="@empleados.Correo"
                                            data-sexo="@empleados.Sexo"
                                            data-creadoSAP="@empleados.CreadoSAP.ToString("dd/MM/   yyyy")">
                                        <i class="bi bi-person-vcard"></i> Ver Perfil
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center text-muted py-3" style="font-style: italic;">
                                <i class="bi bi-info-circle"></i> No se encontraron datos
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNuevaPlaza" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Encabezado -->
            <div class="modal-header text-white" style="background-color:steelblue;">
                <h5 class="modal-title" id="miModalLabel">
                    <i class="bi bi-person-fill-add me-2"></i> Registrar nueva plaza
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <!-- Cuerpo -->
            <div class="modal-body">
                <form id="formNuevaPlaza">
                    <div class="mb-3">
                        <label class="form-label">Puesto</label>
                        <select class="form-control" id="selectNuevaPlaza">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Observaciones</label>
                        <textarea id="PerfilObservaciones" class="form-control" rows="5" placeholder="Observaciones..." required></textarea>
                    </div>
                </form>
            </div>

            <!-- Pie -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cancelar
                </button>
                <button type="button" class="btn btn-success" id="btnGuardar">
                    <i class="bi bi-check-circle"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal del perfil -->
<div class="modal fade" id="modalPerfilEmpleado" tabindex="-1" aria-labelledby="perfilEmpleadoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content shadow-lg border-0 rounded-2">

            <!-- Encabezado -->
            <div class="modal-header text-white" style="background-color:steelblue;">
                <h5 class="modal-title" id="perfilEmpleadoLabel">
                    <i class="bi bi-person-badge-fill me-2"></i> Perfil del Empleado
                </h5>
                <button onclick="cerrarModalPerfil()" type="button" class="btn-close btn-close-white" aria-label="Cerrar"></button>
            </div>

            <!-- Cuerpo del modal -->
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-md-4 text-center">
                        <img id="imgPerfil"
                             src="~/Img/PerfilMale.png"
                             class="img-fluid border shadow-sm mb-3"
                             width="120" height="120"
                             alt="Foto empleado"
                             style="border-radius:50%; object-fit:cover; aspect-ratio:1/1;">

                        <h5 id="perfilNombre">María López</h5>
                        <span id="perfilActivo">Activo</span><br />
                        <span id="perfilSexo"></span>
                        <span id="perfilId" hidden></span>
                    </div>

                    <div class="col-md-8">
                        <table class="table table-borderless align-middle mb-0">
                            <tr>
                                <th class="text-secondary-perfil">Puesto:</th>
                                <td id="perfilPuesto">Supervisora de Producción</td>
                            </tr>
                            <tr>
                                <th class="text-secondary-perfil">Departamento:</th>
                                <td id="perfilDepartamento">Producción</td>
                            </tr>
                            <tr>
                                <th class="text-secondary-perfil">Fecha de Registro SAP:</th>
                                <td id="perfilCreadoSAP">15/03/2022</td>
                            </tr>
                            <tr>
                                <th class="text-secondary-perfil">Correo:</th>
                                <td id="perfilCorreo">maria.lopez@empresa.com</td>
                            </tr>
                            <tr>
                                <th class="text-secondary-perfil">Teléfono:</th>
                                <td id="perfilTelefono">5555-1234</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

            <!-- Pie del modal -->
            <div class="modal-footer d-flex justify-content-between">
                <button onclick="cerrarModalPerfil()" type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-x-circle"></i> Cerrar
                </button>

                <button id="btn-DetalleProceso" type="button" class="btn btn-warning hidden-input" onclick="verProcesoBaja()">
                    <i class="bi bi-arrow-repeat"></i> Ver Proceso
                </button>
                <button id="btn-SolicitaBaja" type="button"
                        class="btn btn-outline-dark btn-sm hidden-input"
                        onclick="verSolicitudBaja()">
                    <i class="bi bi-box-arrow-down"></i> Solicitar Baja
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSolicitudBaja" tabindex="-1" aria-labelledby="modalSolicitudBajaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-2">

            <!-- Encabezado -->
            <div class="modal-header  text-white" style="background-color:darkred">
                <h5 class="modal-title fw-semibold" id="modalSolicitudBajaLabel">
                    <i class="bi bi-person-x-fill me-2"></i> Solicitud de baja
                </h5>
                <button type="button" class="btn-close btn-close-white" aria-label="Cerrar" onclick="cerrarModalSolicitud()"></button>
            </div>

            <!-- Cuerpo -->
            <div class="modal-body px-4">
                <form id="formSolicitudBaja" class="row g-3">
                    <div class="alert alert-info d-flex align-items-center" role="alert">
                        <i class="bi bi-info-circle-fill me-2"></i>
                        Los campos marcados con un <span class="text-danger fw-bold"> * </span> son obligatorios.
                    </div>

                    <!-- Id y nombre -->
                    <div class="col-md-6">
                        <label for="idEmpleadoSolicitud" class="form-label">Id Empleado</label>
                        <input type="text" id="idEmpleadoSolicitud" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="nombreEmpleadoSolicitud" class="form-label">Nombre</label>
                        <input type="text" id="nombreEmpleadoSolicitud" class="form-control" readonly>
                    </div>

                    <!-- Motivo -->
                    <div class="col-md-6">
                        <label for="motivo" class="form-label">Motivo <span class="text-danger fw-bold">*</span></label>
                        <select id="motivo" class="form-control" required>
                            <option value="">-Seleccione un motivo-</option>
                            <option value="1">Renuncia</option>
                            <option value="2">Despido</option>
                            <option value="3">Abandono</option>
                        </select>
                    </div>

                    <!-- Causas -->
                    <div class="col-md-6 mt-3 hidden-input" id="causasInput">
                        <label class="form-label">Causas</label>
                        <div class="border rounded-3 p-3">
                            <div class="d-flex flex-wrap gap-2" id="contenedorCausas">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 hidden-input" id="cartaInput">
                        <label for="cartaRenuncia" class="form-label">Carta de renuncia</label>
                        <input type="file" class="form-control" id="cartaRenuncia" name="cartaRenuncia" accept=".pdf">
                    </div>

                    <!-- Observaciones -->
                    <div class="col-12">
                        <label for="observaciones" class="form-label">Observaciones <span class="text-danger fw-bold">*</span></label>
                        <textarea id="observaciones" class="form-control" rows="3" placeholder="Ingrese observaciones adicionales..." required></textarea>
                    </div>
                </form>
                <br />
                <div id="msg-advertencia" class="alert alert-warning d-flex align-items-center hidden-input" role="alert">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    Debes completar todos los campos obligatorios antes de continuar.
                </div>
            </div>

            <!-- Pie -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary" onclick="cerrarModalSolicitud()">
                    <i class="bi bi-x-circle me-1"></i> Cancelar
                </button>
                <button type="button" class="btn btn-danger" id="btnConfirmarBaja">
                    <i class="bi bi-send-fill me-1"></i> Solicitar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregarCorreo" tabindex="-1" aria-labelledby="modalAgregarCorreoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="formCorreoElectronico">
                <!-- Encabezado -->
                <div class="modal-header bg-warning">
                    <h5 class="modal-title" id="modalAgregarCorreoLabel">
                        <i class="bi bi-exclamation-triangle-fill text-warning"></i>
                        Falta correo electrónico
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" onclick="cerrarModalCorreo()"></button>
                </div>

                <!-- Cuerpo -->
                <div class="modal-body">
                    <p class="mb-3">
                        No tienes un correo electrónico agregado. Debes ingresar tu correo para continuar con la solicitud.
                    </p>

                    <!-- Input correo -->
                    <div class="mb-3">
                        <label for="correoElectronico" class="form-label fw-semibold">Correo electrónico</label>
                        <input type="email" class="form-control" id="correoElectronico" placeholder="ejemplo@eltejar.com.gt" required>
                    </div>

                    <!-- Mensaje informativo -->
                    <div class="alert alert-info mb-0" role="alert">
                        Es necesario el correo electrónico para recibir las notificaciones del proceso de baja.
                    </div>
                    <br />
                    <div id="msg-AdvertenciaCorreo" class="alert alert-warning d-flex align-items-center hidden-input" role="alert">
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>
                        Debes agregar un correo electronico.
                    </div>
                </div>

                <!-- Pie -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModalCorreo()">
                        <i class="bi bi-x-circle"></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="btnAgregarCorreo">
                        <i class="bi bi-envelope-plus"></i> Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Seguimiento de Proceso -->
<div class="modal fade" id="modalTrackingProceso" tabindex="-1" aria-labelledby="modalTrackingLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 shadow-lg">

            <!-- Header -->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="modalTrackingLabel">
                    <i class="bi bi-arrow-repeat me-2"></i> Seguimiento del Proceso de Baja
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar" onclick="cerrarModalTrackinDeBaja()"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <div class="timeline">

                    <!-- Estado 0 -->
                    <div class="timeline-item completed">
                        <div class="timeline-icon"><i class="bi bi-check-circle-fill"></i></div>
                        <div class="timeline-content">Pendiente</div>
                    </div>

                    <!-- Estado 1 -->
                    <div class="timeline-item completed">
                        <div class="timeline-icon"><i class="bi bi-check-circle-fill"></i></div>
                        <div class="timeline-content">Autorizado por GTH</div>
                    </div>

                    <!-- Estado 2 -->
                    <div class="timeline-item completed">
                        <div class="timeline-icon"><i class="bi bi-check-circle-fill"></i></div>
                        <div class="timeline-content">Tablero de Obligaciones</div>
                    </div>

                    <!-- Estado 3 -->
                    <div class="timeline-item active">
                        <div class="timeline-icon"><i class="bi bi-hourglass-split"></i></div>
                        <div class="timeline-content fw-semibold">Emisión de solvencia administrativa</div>
                    </div>

                    <!-- Estado 4 -->
                    <div class="timeline-item">
                        <div class="timeline-icon"><i class="bi bi-circle"></i></div>
                        <div class="timeline-content">Carta de despido - Emisión</div>
                    </div>

                    <!-- Estado 5 -->
                    <div class="timeline-item">
                        <div class="timeline-icon"><i class="bi bi-circle"></i></div>
                        <div class="timeline-content">Bloqueo de usuarios operativos</div>
                    </div>

                    <!-- Estado 6 -->
                    <div class="timeline-item">
                        <div class="timeline-icon"><i class="bi bi-circle"></i></div>
                        <div class="timeline-content">Confirmación de emisión de pago</div>
                    </div>

                    <!-- Estado 7 -->
                    <div class="timeline-item">
                        <div class="timeline-icon"><i class="bi bi-circle"></i></div>
                        <div class="timeline-content">Carga de liquidación autorizada</div>
                    </div>

                    <!-- Estado 8 -->
                    <div class="timeline-item">
                        <div class="timeline-icon"><i class="bi bi-circle"></i></div>
                        <div class="timeline-content">Bloqueo de usuarios contables</div>
                    </div>

                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModalTrackinDeBaja()">
                    <i class="bi bi-x-circle"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPerfilPuesto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 shadow">

            <!-- Header -->
            <div class="modal-header text-white" style="background-color: steelblue; ">
                <h5 class="modal-title">
                    <i class="bi bi-person-badge"></i>
                    Perfil del Puesto: <span id="tituloPuesto"></span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" onclick="cerrarModalPerfilPuesto()"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form id="formPerfilPuesto">

                    <div class="row g-3">
                        <!-- Experiencia -->
                        <div class="col-md-4">
                            <label class="form-label fw-bold">Experiencia mínima (años)</label>
                            <input type="number" class="form-control" id="U_ExperienciaMinima" required>
                            <input type="number" id="U_IdPuesto" class="d-none" />
                            <input type="text" id="U_IdButton" class="d-none" />
                        </div>

                        <!-- Rango edad -->
                        <div class="col-md-4">
                            <label class="form-label fw-bold">Edad mínima</label>
                            <input type="number" class="form-control" id="U_RangoEdadMin" required>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label fw-bold">Edad máxima</label>
                            <input type="number" class="form-control" id="U_RangoEdadMax" required>
                        </div>

                        <!-- Sexo -->
                        <div class="col-md-4">
                            <label class="form-label fw-bold">Sexo</label>
                            <select class="form-select" id="U_Sexo" required>
                                <option value="I">Indistinto</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>

                        <!-- Nivel Estudio -->
                        <div class="col-md-8">
                            <label class="form-label fw-bold">Nivel de estudio</label>
                            <select class="form-select" id="U_NivelEstudio" required>
                                <option value="Basico">Básico</option>
                                <option value="Diversificado">Diversificado</option>
                                <option value="Universitario">Universitario</option>
                                <option value="Otro">Otro (Especificar en observaciones)</option>
                            </select>
                        </div>

                        <!-- Salario -->
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Salario mínimo (Q) <span class="text-muted">(Opcional)</span></label>
                            <input type="number" class="form-control" id="U_SalarioMin" step="0.01">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fw-bold">Salario máximo (Q) <span class="text-muted">(Opcional)</span></label>
                            <input type="number" class="form-control" id="U_SalarioMax" step="0.01">
                        </div>

                        <!-- Observaciones -->
                        <div class="col-12">
                            <label class="form-label fw-bold">Observaciones</label>
                            <textarea class="form-control" rows="3" id="U_Observaciones" required></textarea>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModalPerfilPuesto()">
                    <i class="bi bi-x-circle"></i> Cancelar
                </button>
                <button type="button" class="btn btn-primary" id="btnGuardarPerfil">
                    <i class="bi bi-save"></i> Guardar Perfil
                </button>
            </div>

        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section Scripts {
    <script>

        const modalPerfil = new bootstrap.Modal(document.getElementById('modalPerfilEmpleado'));
        const modalSolicitud = new bootstrap.Modal(document.getElementById('modalSolicitudBaja'));
        const modalAgregarCorreo = new bootstrap.Modal(document.getElementById('modalAgregarCorreo'));
        const modalTrackingProceso = new bootstrap.Modal(document.getElementById('modalTrackingProceso'));
        const modalPerfilPuesto = new bootstrap.Modal(document.getElementById('modalPerfilPuesto'));


        const listaCausas = [];


        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 5000,
            timerProgressBar: true
        })


        async function obtenerPuestos() {

            Toast.fire({ icon: 'warning', title: 'La creación de una plaza nueva debe ser autorizada por gerencia.' });
            const select = document.getElementById("selectNuevaPlaza");
            try {
                const response = await fetch('/GestionDePersonal/ObtenerPuestos', {
                    method: 'GET'
                });

                const reply = await response.json();

                let option = '<option value="-1" disabled selected>--Seleccionar--</option> ';

                reply.data.forEach(puesto => {
                    option += `<option value = '${puesto.Id}'>${puesto.Nombre}</option>`;
                });

                select.innerHTML = option;
            } catch (error) {
                Toast.fire({ icon: 'error', title: 'Hubo un error al cargar los puestos, por favor comunicarse al area de Sistemas' });
            }
        }

        async function ObtenerCausasDespido() {
            const select = document.getElementById("contenedorCausas");
            try {
                const response = await fetch('/GestionDePersonal/ObtenerCausasDespido',
                    {
                        method: "GET"
                    });

                const reply = await response.json();

                let button = '';

                reply.data.forEach(causa => {
                    button += `<button id="causa-${causa.Code}" type="button" class="btn btn-outline-secondary btn-sm" data-IdCausa="${causa.Code}" onclick="marcarCausa(this)">${causa.Name}</button>`;
                });

                select.innerHTML = button;
            }
            catch (error) {

            }
        }

        function marcarCausa(button) {
            const idCausa = button.getAttribute("Id");
            const classCausa = button.getAttribute("Class");
            const causasAgregadas = button.getAttribute("data-IdCausa");//


            if (classCausa.includes("buttonMarcado")) {
                document.getElementById(idCausa).classList.remove("buttonMarcado");

                const indice = listaCausas.indexOf(causasAgregadas);

                if (indice !== -1) {
                    listaCausas.splice(indice, 1);
                }
            }
            else {
                document.getElementById(idCausa).classList.add("buttonMarcado");
                listaCausas.push(causasAgregadas);
            }

            console.log(listaCausas);
        }

        async function verPerfil(button) {

            document.getElementById("perfilId").innerText = button.getAttribute("data-id");
            document.getElementById("perfilNombre").innerText = button.getAttribute("data-nombre");
            document.getElementById("perfilPuesto").innerText = button.getAttribute("data-puesto");
            document.getElementById("perfilDepartamento").innerText = button.getAttribute("data-departamento");
            document.getElementById("perfilActivo").innerText = button.getAttribute("data-activo");
            document.getElementById("perfilTelefono").innerText = button.getAttribute("data-telefono");
            document.getElementById("perfilCorreo").innerText = button.getAttribute("data-correo");
            document.getElementById("perfilSexo").innerText = button.getAttribute("data-sexo");
            document.getElementById("perfilCreadoSAP").innerText = button.getAttribute("data-creadoSAP");

            const verifacion = await VerSolicitudPendiente(button.getAttribute("data-id"));

            if (verifacion === 1) {
                document.getElementById('btn-SolicitaBaja').classList.add('disabled');
                document.getElementById('btn-SolicitaBaja').classList.add('hidden-input')
                document.getElementById('btn-DetalleProceso').classList.remove('hidden-input')
            }
            else {
                document.getElementById('btn-SolicitaBaja').classList.remove('disabled');
                document.getElementById('btn-SolicitaBaja').classList.remove('hidden-input')
                document.getElementById('btn-DetalleProceso').classList.add('hidden-input')
            }

            if (button.getAttribute("data-activo") === 'Y') {
                document.getElementById("perfilActivo").innerHTML =
                    '<i class="bi bi-check-circle-fill text-success"></i> Activo';
            } else if (button.getAttribute("data-activo") === '-') {
                document.getElementById("perfilActivo").innerHTML =
                    '<i class="fas fa-minus-circle text-warning"></i> Pendiente de baja';
            } else {
                document.getElementById("perfilActivo").innerHTML =
                    '<i class="bi bi-x-circle-fill text-danger"></i> Inactivo';
            }

            if (button.getAttribute("data-sexo") === 'M') {
                document.getElementById("perfilSexo").innerHTML =
                    '<i class="bi bi-gender-male text-primary"></i> Masculino';
                document.getElementById('imgPerfil').setAttribute('src', "/Img/PerfilMale.png");
            } else {
                document.getElementById("perfilSexo").innerHTML =
                    '<i class="bi bi-gender-female text-danger"></i> Femenino';
                document.getElementById('imgPerfil').setAttribute('src', "/Img/PerfilFemale.png");
            }

            modalPerfil.show();
        };

        function cerrarModalPerfil() {
            modalPerfil.hide();
        };

        function cerrarModalSolicitud() {
            modalSolicitud.hide();
            document.getElementById('formSolicitudBaja').reset();
            document.getElementById('cartaInput').classList.add("hidden-input");
            document.getElementById('causasInput').classList.add("hidden-input");
            document.getElementById('msg-advertencia').classList.add('hidden-input');
        };

        function verSolicitudBaja() {

            document.getElementById('idEmpleadoSolicitud').value = document.getElementById("perfilId").textContent;
            document.getElementById('nombreEmpleadoSolicitud').value = document.getElementById("perfilNombre").textContent;

            ObtenerCausasDespido()
            cerrarModalPerfil();
            modalSolicitud.show();
        };

        function cambiarInputs() {
            const causas = document.getElementById('causasInput');
            const carta = document.getElementById('cartaInput');
            const motivo = document.getElementById('motivo').value;

            if (motivo == 1) {
                carta.classList.remove("hidden-input");
                causas.classList.add("hidden-input");
            }
            else if (motivo == 2) {
                carta.classList.add("hidden-input");
                causas.classList.remove("hidden-input");
            }
            else {
                carta.classList.add("hidden-input");
                causas.classList.add("hidden-input");
            }
        };

        async function confimacionDeBaja() {

            const resplyEmail = await verificarCorreo()
            const form = document.getElementById('formSolicitudBaja');

            if (form.checkValidity()) {

                if (!resplyEmail.success)
                    return modalAgregarCorreo.show();

                try {
                    Swal.fire({
                        title: 'Creando la solicitud...',
                        text: 'Por favor espere',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading();
                        }
                    });

                    const formData = new FormData();
                    formData.append("id", document.getElementById("idEmpleadoSolicitud").value);
                    formData.append("motivo", document.getElementById("motivo").value);
                    formData.append("observaciones", document.getElementById("observaciones").value);
                    formData.append("carta", document.getElementById("cartaRenuncia").files[0]);
                    formData.append("causas", JSON.stringify(listaCausas));
                    formData.append("nombre", document.getElementById("nombreEmpleadoSolicitud").value);
                    formData.append("motivoCadena", document.getElementById("motivo").options[document.getElementById("motivo").selectedIndex].text);

                    const response = await fetch('/GestionDePersonal/EnviarSolicitudDeBaja',
                        {
                            method: "POST",
                            body: formData
                        });

                    if (response.ok) {
                        listaCausas.length = 0;
                        const reply = await response.json();

                        if (reply.successS) {
                            Swal.close();
                            cerrarModalSolicitud();
                            Toast.fire({ icon: 'success', title: "Se creo la solicitud de baja de personal con exito" });
                        }
                        else {
                            Swal.close();
                            Toast.fire({ icon: 'error', title: "Ocurrio un error al crear la solicitud" });
                        }
                    }
                    else {
                        Swal.close();
                        Toast.fire({ icon: 'error', title: "Ocurrio un error al conectarse con el servidor" });
                    }
                }
                catch (error) {
                    Swal.close();
                    Toast.fire({ icon: 'error', title: error });
                }
            } else {
                document.getElementById('msg-advertencia').classList.remove('hidden-input');
            }
        };

        async function VerSolicitudPendiente(id) {
            const response = await fetch(`/GestionDePersonal/VerificarSolicitudBajaPendiente?id=${id}`, {
                method: "GET"
            })

            const reply = await response.json();
            let pendiente = 0;

            if (reply.pendiente)
                pendiente = 1;

            return pendiente;
        }

        async function verificarCorreo() {
            const response = await fetch(`/GestionDePersonal/VerificarExistenciaDeCorreo`, {
                method: "GET"
            })

            const reply = await response.json();

            return reply;
        }

        function cerrarModalCorreo() {
            modalAgregarCorreo.hide();
            document.getElementById('msg-AdvertenciaCorreo').classList.add('hidden-input');

        }

        async function guardarCorreo() {
            const _id = document.getElementById("idEmpleadoSolicitud").value;
            const _email = document.getElementById("correoElectronico").value;
            const form = document.getElementById("formCorreoElectronico");

            if (form.checkValidity()) {

                try {

                    const formData = new FormData();
                    formData.append("idUsuario", _id);
                    formData.append("email", _email);

                    const response = await fetch('/GestionDePersonal/AgregarEmail',
                        {
                            method: "POST",
                            body: formData
                        });

                    const reply = await response.json();

                    if (reply.success) {
                        modalAgregarCorreo.hide();
                        Toast.fire({ icon: 'success', title: "El correo se agrego correctamente" });
                    } else {
                        Toast.fire({ icon: 'error', title: "Ocurrio un error al guardar el correo electronico" });
                    }
                }
                catch (error) {
                    Toast.fire({ icon: 'error', title: "Ocurrio un error al guardar el correo electronico" });
                }
            }
            else {
                document.getElementById('msg-AdvertenciaCorreo').classList.remove('hidden-input');
            }

        }
        function verProcesoBaja() {
            modalTrackingProceso.show();
        }

        function cerrarModalTrackinDeBaja() {
            modalTrackingProceso.hide();
        }

        async function abrirModalPerfilPuesto(puesto, puestoId, perfil, idButton) {

            document.getElementById('tituloPuesto').innerText = puesto;
            document.getElementById('formPerfilPuesto').reset();
            bloquearFormulario('formPerfilPuesto', false);
            document.getElementById('btnGuardarPerfil').classList.remove("d-none")
            document.getElementById('U_IdPuesto').value = puestoId;
            console.log(idButton);
            document.getElementById('U_IdButton').value = idButton;


            const response = await fetch(`/Reclutamiento/ObtenerPerfilPuestoPorId?idPuesto=${puestoId}`);
            const result = await response.json();

            if (result.success) {

                bloquearFormulario('formPerfilPuesto', true);
                document.getElementById('btnGuardarPerfil').classList.add("d-none")

                document.getElementById('U_ExperienciaMinima').value = result.data.U_ExperienciaMinima
                document.getElementById('U_NivelEstudio').value = result.data.U_NivelEstudio
                document.getElementById('U_Observaciones').value = result.data.U_Observaciones
                document.getElementById('U_RangoEdadMax').value = result.data.U_RangoEdadMax
                document.getElementById('U_RangoEdadMin').value = result.data.U_RangoEdadMin
                document.getElementById('U_SalarioMax').value = result.data.U_SalarioMax
                document.getElementById('U_SalarioMin').value = result.data.U_SalarioMin
                document.getElementById('U_Sexo').value = result.data.U_Sexo
            }
            modalPerfilPuesto.show();
        }

        function bloquearFormulario(formId, bloquearlo) {
            const form = document.getElementById(formId);
            const elementos = form.querySelectorAll("input, select, textarea, button");

            elementos.forEach(el => {
                el.disabled = bloquearlo;
            });
        }

        async function guardarPerfilDeUsuario() {

            if (!document.getElementById('formPerfilPuesto').checkValidity()) {
                Toast.fire({ icon: 'warning', title: "Debe llenar los campos obligarorios" });
                return;
            }

            $("#globalLoading").show();
            const idButton = document.getElementById('U_IdButton').value;
            const button = document.getElementById(idButton);
            const icono = document.getElementById("i" + idButton);
            console.log('Id del boton es ', idButton, button);
            try {
                const perfilUsuario = {
                    U_IdPuesto: document.getElementById('U_IdPuesto').value,
                    U_ExperienciaMinima: document.getElementById('U_ExperienciaMinima').value,
                    U_NivelEstudio: document.getElementById('U_NivelEstudio').value,
                    U_Observaciones: document.getElementById('U_Observaciones').value,
                    U_RangoEdadMax: document.getElementById('U_RangoEdadMax').value,
                    U_RangoEdadMin: document.getElementById('U_RangoEdadMin').value,
                    U_SalarioMax: document.getElementById('U_SalarioMax').value,
                    U_SalarioMin: document.getElementById('U_SalarioMin').value,
                    U_Sexo: document.getElementById('U_Sexo').value
                };

                const response = await fetch('/Reclutamiento/GuardarPerfilPuesto', {
                    method: 'POST',
                    body: JSON.stringify({ perfil: perfilUsuario }),
                    headers: { "Content-Type": "application/json" }
                });

                const result = await response.json();

                if (result.success) {
                    button.classList.add('btn-outline-success');
                    button.classList.remove('btn-outline-danger');
                    button.setAttribute('title', 'Ver perfil');
                    icono.classList.add('text-success');
                    icono.classList.remove('text-danger');
                    Toast.fire({ icon: 'success', title: "Perfil guardado con éxito " });
                    modalPerfilPuesto.hide();
                }
                else {
                    Toast.fire({ icon: 'error', title: "Ocurrio un error al guardar el perfil" });
                }
            }
            catch (error) {
                Toast.fire({ icon: 'error', title: "Ocurrio un error al guardar el perfil" });
                console.log(error);
            }
            finally {
                $("#globalLoading").hide();
            }

        }
        function cerrarModalPerfilPuesto() {
            modalPerfilPuesto.hide();
        }

        document.getElementById("btnNuevaPlaza").addEventListener("click", () => obtenerPuestos());
        document.getElementById("motivo").addEventListener("change", () => cambiarInputs());
        document.getElementById("btnConfirmarBaja").addEventListener("click", () => confimacionDeBaja());
        document.getElementById("btnAgregarCorreo").addEventListener("click", () => guardarCorreo());
        document.getElementById('btnGuardarPerfil').addEventListener('click', () => guardarPerfilDeUsuario());
    </script>

}
