@foreach (var item in Model)
{
    <tr>
        <td>@item.WhsCode</td>
        <td>@item.WhsName</td>
        <td>@item.SlpName</td>
        <td>@string.Format("Q.{0:#,##0.00}", @item.VentaActual)</td>
        <td>@string.Format("Q.{0:#,##0.00}", @item.VentaProyectada)</td>
        <td>
            <div class="d-flex align-items-center justify-content-center">
                <span class="badge badge-success">
                    <i class="fas fa-chart-line"></i> @string.Format("Q.{0:#,##0.00}", @item.Rentabilidad)
                </span>
            </div>
            <div class="progress mt-1" style="height: 10px; width: 100px; margin: 0 auto;">
                <div class="progress-bar bg-success"
                     role="progressbar"
                     style="width: @($"{item.Rentabilidad}%");"
                     aria-valuenow="@item.Rentabilidad"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </td>
        <td>
            <span class="badge badge-info">
                <i class="fas fa-file-invoice"></i> @item.Facturas
            </span>
        </td>
        <td>
            <a class="btn btn-primary bold-btn fa fa-eye" id="btnVerDetalle" data-slpcode="@item.SlpCode"></a>
        </td>
    </tr>
}
