@model List<Entity.Reporte_Margen_Facturas>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa; /* Color de fondo suave */
        margin: 0;
        padding: 0;
    }

    .form-container {
        background-color: #ffffff; /* Fondo blanco */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
        max-width: 90%; /* Ajusta el ancho máximo */
        margin: 30px auto; /* Centrado */
        padding: 0; /* Sin padding interno */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 85vh; /* Ajusta el alto total del contenedor */
    }

    h2 {
        text-align: center;
        color: #333; /* Color del texto */
        margin: 0;
        padding: 10px;
        background-color: #ffffff; /* Fondo blanco */
        position: sticky; /* Fijo en la parte superior */
        top: 0;
        z-index: 200;
        border-bottom: 2px solid #ddd;
    }

    .table-container {
        flex: 1;
        overflow-y: auto; /* Scroll vertical para la tabla */
    }

    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
    }

        .styled-table th, .styled-table td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }

        .styled-table th {
            background-color: #17a2b8;
            color: white;
            position: sticky; /* Encabezados fijos al hacer scroll */
            top: 38px; /* Altura del título superior */
            z-index: 100;
        }

        .styled-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .styled-table tr:hover {
            background-color: #ddd;
        }

    #filterTienda {
        max-width: 200px;
        font-size: 0.9rem;
        margin: 0 auto;
    }

    .form-container h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .d-flex {
        gap: 10px;
    }

    #ventasTabla th:nth-child(1),
    #ventasTabla td:nth-child(1) {
        display: none;
    }
    .modal-full {
        width: 70%; /* Ocupa el 100% del ancho de la ventana */
        max-width: none; /* Evita que Bootstrap aplique un límite en el ancho */
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<div class="form-container">
    <h2>Margen de utilidad</h2>
    <div class="table-container pt-0">
        <table id="ventasTabla" class="table table-striped table-bordered table-hover text-center align-middle mb-2">
            <thead class="table-dark">
                <tr>
                    <th class="align-items-center"></th>
                    <th class="align-items-center">Tipo</th>
                    <th class="align-items-center" width="100px">Documento</th>
                    <th class="align-items-center" width="140px">Fecha</th>
                    <th class="align-items-center">CardName</th>
                    <th class="align-items-center">Total</th>
                    <th class="align-items-center">Margen porcentual</th>
                    <th class="align-items-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td></td>
                        <td>@item.Tipo</td>
                        <td>@item.DocNum</td>
                        <td>@item.DocDate.ToString("dd/MM/yyyy")</td>
                        <td style="text-align:left">@item.CardName</td>
                        <td style="text-align:left">@string.Format("Q.{0:#,##0.00}", @item.LineTotal)</td>
                        <td style="text-align:left">@string.Format("{0:#,##0.00}%", @item.Margen) </td>
                        <td class="text-center">
                            <button class="btn btn-info fa fa-eye" title="Ver detalles" onclick="verDetalle(@item.DocNum,'@item.Tipo');"></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>
<div id="detalleModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header" role="document">

                <h5 class="modal-title" id="exampleModalLabel">Documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#ventasTabla').DataTable({
        "paging": true,
        "searching": false,
        "info": true,
        "ordering": true,
        "order": [],
        "dom": '<"top"f>rt<"bottom"lp><"clear">',
    });
  
    function verDetalle(_docNum, _tipo) {
        $("#globalLoading").show();
        $.ajax({
            url: '@Url.Action("CargarDetalleFactura", "Margen")',
            type: 'GET',
            data: {
                DocNum: _docNum,
                Tipo: _tipo
            },
            success: function (data) {
                $("globalLoading").hide();
                $('#modal-content').html(data);
                $('#detalleModal').modal('show');
            },
            error: function () {
                //$("#globalLoading").hide();
                alert('Hubo un error al cargar el contenido');
            }
        })
    }
</script>
