@model Entity.MargenesUtilidadEntity
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa; /* Color de fondo suave */
        margin: 0;
        padding: 0;
    }

    .form-container {
        background-color: #ffffff; /* Fondo blanco */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
        max-width: 90%; /* Ajusta el ancho máximo */
        margin: 30px auto; /* Centrado */
        padding: 20px;
        overflow: hidden;
    }

    h2 {
        text-align: center;
        color: #333; /* Color del texto */
        margin-bottom: 20px;
    }

    .table-container {
        overflow-x: auto; /* Scroll horizontal si es necesario */
    }

    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
    }

        .styled-table th, .styled-table td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }

        .styled-table th {
            background-color: #343a40;
            color: white;
        }

        .styled-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .styled-table tr:hover {
            background-color: #ddd;
        }

    #filterTienda {
        max-width: 200px;
        font-size: 0.9rem;
        margin: 0 auto;
    }

    .form-container h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .d-flex {
        gap: 10px;
    }

    #ventasTabla th:nth-child(1),
    #ventasTabla td:nth-child(1) {
        display: none;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<div class="form-container">
    <h2>Margen de utilidad</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <select id="filterTienda" class="form-control form-control-sm" style="width: 200px;" onchange="filtrarTienda()">
            <option value="">Seleccionar</option>
            @if (Model != null)
            {
                foreach (var item in Model.ListaTiendas)
                {
                    <option value="@item.WhsCode">@item.WhsName</option>
                }
            }
        </select>
    </div>
    <div class="table-container">
        <table id="ventasTabla" class="table table-bordered table-hover text-center align-middle">
            <thead class="thead-dark">
                <tr>
                    <th>WhsCode</th>
                    <th>Nombre de Tienda</th>
                    <th>Vendedor</th>
                    <th>Venta Actual</th>
                    <th>Venta Proyectada</th>
                    <th>Rentabilidad</th>
                    <th>Facturas</th>
                    <th>Opción</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.ListaMargenes != null)
                    {
                        foreach (var item in Model.ListaMargenes)
                        {
                            <tr>
                                <td>@item.WhsCode</td>
                                <td>@item.WhsName</td>
                                <td>@item.SlpName</td>
                                <td>@string.Format("Q.{0:#,##0.00}", @item.VentaActual)</td>
                                <td>@string.Format("Q.{0:#,##0.00}", @item.VentaProyectada)</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span class="badge badge-success">
                                            <i class="fas fa-chart-line"></i> @string.Format("Q.{0:#,##0.00}", @item.Rentabilidad)
                                        </span>
                                    </div>
                                    <div class="progress mt-1" style="height: 10px; width: 100px; margin: 0 auto;">
                                        <div class="progress-bar bg-success"
                                             role="progressbar"
                                             style="width: @($"{item.Rentabilidad}%");"
                                             aria-valuenow="@item.Rentabilidad"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-info">
                                        <i class="fas fa-file-invoice"></i> @item.Facturas
                                    </span>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-primary bold-btn fa fa-eye" id="btnVerDetalle" data-slpcode="@item.SlpCode"></a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>   
</div>
<script>
    $('#ventasTabla').DataTable({
        "paging": true,
        "searching": false,
        "info": true,
        "ordering": true,
        "order": [],
        "dom": '<"top"f>rt<"bottom"lp><"clear">', // Diseño de DataTables
    });

    function filtrarTienda() {
        $("#globalLoading").show();
        // Obtén el valor seleccionado del dropdown
        const whsCode = document.getElementById('filterTienda').value;

        // Realiza la solicitud AJAX
        $.ajax({
            url: '/Margen/Margen', // La URL de tu controlador y acción
            method: 'POST',        // Usamos POST para enviar el filtro
            data: {
                whsCode: whsCode,  // Enviamos el código de tienda
                isAjax: true        // Indicamos que es una solicitud AJAX
            },
            success: function (response) {
                $('#ventasTabla tbody').html(response);
                $("#globalLoading").hide();
            },
            error: function (xhr, status, error) {
                $("#globalLoading").hide();
                console.error('Error al filtrar la tienda:', error);
                alert('Ocurrió un error al intentar filtrar los datos.');                
            }
        });        
    }

        $(document).on('click', '#btnVerDetalle', function () {
            const slpCode = $(this).data('slpcode'); // Obtener el código

            // Enviar el código al servidor
            $.ajax({
                url: '/Margen/Detalle', // Ruta del controlador
                type: 'POST',           // Método POST
                data: { SlpCode: slpCode }, // Dato que enviamos
                success: function (response) {
                    // Si la respuesta contiene una URL, redirige
                    if (response.success) {
                        window.location.href = response.redirectUrl;
                    } else {
                        alert('Ocurrió un error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error al comunicarse con el servidor.');
                }
            });
        });

</script>