@model Entity.MargenesUtilidadEntity
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .form-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 90%;
        margin: 30px auto;
        padding: 20px;
        overflow: hidden;
    }

    h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .table-container {
        overflow-x: auto;
    }

    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
    }

        .styled-table th, .styled-table td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }

        .styled-table th {
            background-color: #17a2b8;
            color: white;
        }

        .styled-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .styled-table tr:hover {
            background-color: #ddd;
        }

    .progress-container {
        width: 120px;
        margin: 0 auto;
    }

    .progress {
        height: 10px;
        margin-top: 5px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<div class="form-container">
    <h2>Margen de utilidad</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <select id="filterTienda" class="form-control form-control-sm" style="width: 200px;" onchange="filtrarTienda()">
            <option value="">Seleccionar</option>
            @if (Model != null)
            {
                foreach (var item in Model.ListaTiendas)
                {
<option value="@item.WhsCode">@item.WhsName</option>}
            }
        </select>
        <div class="d-flex">
            <div class="bg-secondary m-1 p-2 rounded-2">
                Normal
            </div>
            <div class="bg-primary m-1 p-2 rounded-2">
                Descuento
            </div>
            <div class="bg-warning m-1 p-2 rounded-2">
                Promoción
            </div>

        </div>

    </div>
    <div class="table-container">
        <table id="ventasTabla" class="styled-table table-bordered text-center align-middle">
            <thead class="bg-info">
                <tr>
                    <th>WhsCode</th>
                    <th>Nombre de Tienda</th>
                    <th>Vendedor</th>
                    <th>Venta Actual</th>
                    <th>Venta Proyectada</th>
                    <th>Margen Porcentual</th>
                    <th>Facturas</th>
                    <th>Opción</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.ListaMargenes != null)
                {
                    foreach (var item in Model.ListaMargenes)
                    {
    <tr>
        <td>@item.WhsCode</td>
        <td>@item.WhsName</td>
        <td>@item.SlpName</td>
        <td>
            <span class="badge badge-secondary">@string.Format("Q.{0:#,##0.00}", @item.VentaNormal)</span>  <br />
            <span class="badge badge-info">@string.Format("Q.{0:#,##0.00}", @item.VentaDescuento)</span><br />
            <span class="badge badge-warning">@string.Format("Q.{0:#,##0.00}", @item.VentPromocion)</span>
            <hr />
            @string.Format("Q.{0:#,##0.00}", @item.VentaActual)

        </td>
        <td>@string.Format("Q.{0:#,##0.00}", @item.VentaProyectada)</td>
        <td>
            <div class="progress-container">
                <span class="badge badge-secondary">@string.Format("{0:#,##0.00}%", @item.Rentabilidad)</span>
                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: @($"{item.Rentabilidad}%");"></div>
                </div>
                <span class="badge badge-info">@string.Format("{0:#,##0.00}%", @item.RentabilidadDecuento)</span>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: @($"{item.RentabilidadDecuento}%");"></div>
                </div>
                <span class="badge badge-warning">@string.Format("{0:#,##0.00}%", @item.RentabilidadPromocion)</span>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: @($"{item.RentabilidadPromocion}%");"></div>
                </div>
            </div>
        </td>
        <td><span class="badge badge-info"><i class="fas fa-file-invoice"></i> @item.Facturas</span></td>
        <td>
            <a href="javascript:void(0);" class="btn btn-primary bold-btn fa fa-eye" id="btnVerDetalle" data-slpcode="@item.SlpCode"></a>
        </td>
    </tr>}
                }
            </tbody>
        </table>
    </div>

    <div class="container mt-4">
        <div class="row g-3">
            <div class="col-md-4">
                <div class="card text-center shadow-sm p-3 bg-aqua">
                    <h5 class="fw-bold text-primary">Venta Actual</h5>
                    @string.Format("Q.{0:#,##0.00}", Model.MargenTienda.VentaActual)
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow-sm p-3">
                    <h5 class="fw-bold text-primary">Venta Proyectada</h5>
                    @string.Format("Q.{0:#,##0.00}", Model.MargenTienda.VentaProyectada)
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow-sm p-3">
                    <h5 class="fw-bold text-primary">Facturas</h5>
                    @Model.MargenTienda.Facturas
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow-sm p-3">
                    <h5 class="fw-bold text-primary">Rentabilidad</h5>
                    @string.Format("{0:#,##0.00}%", @Model.MargenTienda.Rentabilidad)
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow-sm p-3">
                    <h5 class="fw-bold text-primary">Rentabilidad / Descuento </h5>
                    @string.Format("{0:#,##0.00}%", @Model.MargenTienda.RentabilidadDecuento)
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow-sm p-3">
                    <h5 class="fw-bold text-primary">Rentabilidad / Promoción</h5>
                    @string.Format("{0:#,##0.00}%", @Model.MargenTienda.RentabilidadPromocion)
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('#ventasTabla').DataTable({
        "paging": true,
        "searching": false,
        "info": true,
        "ordering": true,
        "order": [],
        "dom": '<"top"f>rt<"bottom"lp><"clear">',
    });

    function filtrarTienda() {
        $("#globalLoading").show();
        const whsCode = document.getElementById('filterTienda').value;
        $.ajax({
            url: '/Margen/Margen',
            method: 'POST',
            data: { whsCode: whsCode, isAjax: true },
            success: function (response) {
                $('#ventasTabla tbody').html(response);
                $("#globalLoading").hide();
            },
            error: function () {
                $("#globalLoading").hide();
                alert('Ocurrió un error al intentar filtrar los datos.');
            }
        });
    }

    $(document).on('click', '#btnVerDetalle', function () {
        const slpCode = $(this).data('slpcode');
        $.ajax({
            url: '/Margen/Detalle',
            type: 'POST',
            data: { SlpCode: slpCode },
            success: function (response) {
                if (response.success) {
                    window.location.href = response.redirectUrl;
                } else {
                    alert('Ocurrió un error: ' + response.message);
                }
            },
            error: function () {
                alert('Error al comunicarse con el servidor.');
            }
        });
    });
</script>
