@model List<Entity.BuscarProductoEntity>
<div class="container-fluid bg-transparent my-4 p-3">
    @if (Model != null)
    {
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mt-3">
                    <!-- Aquí agregamos un margen superior -->
                    <div class="card h-100 shadow-sm" style="max-width: 250px; margin: auto;">
                        <a href="#">
                            <img src="~/Img/imagen-no-disponible.png" class="card-img-top" alt="@item.ItemName" />
                        </a>
                        <div class="label-top shadow-sm">
                            <a class="text-white" href="#">SKU: @item.ItemCode</a>
                        </div>
                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <span class="float-start badge rounded-pill bg-success">Normal: @string.Format("Q.{0:#,##0.00}", @item.PrecioBeneficio)</span>
                                <span class="float-end badge rounded-pill bg-success">Efectivo: @string.Format("Q.{0:#,##0.00}", @item.PrecioVenta)</span>
                            </div>
                            <h5 class="card-title">
                                <a  href="#">@item.ItemName</a>
                            </h5>
                            <div class="d-grid gap-2 my-4">
                                <a href="@Url.Action("Detalles", "CotizacionVentas", new { ItemCode = item.ItemCode })" class="btn btn-warning bold-btn">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
